.page {
  display: flex;
  background: lightgray;
  width: 100vw;
  height: 100vw;
  margin:auto;
}

.square {
  display: flex;
  background: #fff;
  width: 71.428571vw;
  height: 71.428571vw;
  margin:auto;
}
.inner {
  display: flex;
  border-style: solid;
  background: #fff;
  width: 42.857143vw;
  height: 42.857143vw;
  margin:auto;
}

.small {
  display:flex;
  background: black;
  width:14.285714vw;
  height:14.285714vw;
  margin: auto;
}