
body{
  margin: 0;
  background: lightgray;
  overflow: hidden;
}

.page {
  display: flex;
  background: lightgray;
  width: 100vw;
  height: 100vh;
}

.canvas {
  display: flex;
  background: white;
  width: 71.428571vw;
  height: 71.428571vh;
  margin:auto;
}
.inner {
  display: flex;
  position: absolute;
  width: 42.857143vw;
  height: 42.857143vh;
  margin-left: 14.285714vw;
  margin-top: 14.285714vh;
}

.line {
  display: flex;
  background: black;
  height: 42.857143vh;
  width: 2.6vw;
  margin: auto;
}

#lineleft{
  margin-left: 0;
}

#lineright{
  margin-right: 0;
}

.over {
  display: flex;
  position: absolute;
  width: 42.857143vw;
  height: 42.857143vh;
  margin-left: 14.285714vw;
  margin-top: 14.285714vh;


  clip-path: inset(14.285714vh 14.285714vw 14.285714vh 14.285714vw)
}

.whiteline{
  display: flex;
  background-color: white;
  width: 1.06vw;
  height: 42.857143vh;
  margin: 0px 1.3vw 0px 1.3vw;

  rotate: 10deg;
}

#lineleftwhite{
  margin-left: 2.6vw;
}

/*
clip-path: inset(14.285714vh 14.285714vw 14.285714vh 14.285714vw)
*/